$colors: (
  theme: hsl(213, 100%, 23%),
  theme-light: hsl(213, 100%, 28%),
  theme-lighter: hsl(215, 100%, 25%),
  theme-green: hsl(147, 78%, 28%),
  theme-green-light: hsl(132, 56%, 38%),
  theme-green-highlight: hsl(147, 28%, 95%),
  dd-highlight: hsl(214, 26%, 95%),
  dd-highlight2: hsl(214, 78%, 36%),
  link: hsl(0, 0%, 100%),
  link-hover: hsl(244, 100%, 87%),
  red-secondary: hsl(5, 100%, 59%),
  grey-link: hsl(212, 14%, 36%),
  intro-background: hsl(211, 100%, 8%),
  title-black: hsl(212, 25%, 12%),
  text-blue: hsl(202, 17%, 29%),
  text-dark: hsl(203, 18%, 14%),
  footer-background: rgb(6, 6, 12),
  map-blue: hsl(204, 100%, 37%),
  focus-blue: hsl(204, 100%, 48%)
);

$breakpoints: (
  w-max: 1920px,
  w-lg: 1280px,
  w-md: 760px,
  w-sm: 400px,
  w-min: 200px,
  h-max: 1080px,
  h-lg: 720px,
  h-min: 400px,
  nav: 850px
);

$general-padding: 2rem;

$standard-radius: .4rem;

// Component/Buttons
$slide-btn-transition-duration: .3s;

// layout/trabajos-realizados


@function col($col) {
    @return map-get($colors, $col)
};

@function breakpoint($bk) {
    @return map-get($breakpoints, $bk)
};