.clientes{
  position: relative;
  overflow: hidden;

  &__h3{

  }

  &__ul{
    list-style: none;
    width: 100%;
  }

  &__li{
    display: inline-block;
    margin-bottom: 2%;

    @include fourColumns;
  }

  &__img{
    width: 100%;

    & img{
      object-position: 50% 50%;
    }
  }
}