.header{
    padding: 0 $general-padding;

    color: white;

    margin-top: 2rem;

    @media(min-height: breakpoint(h-big)) {
        margin-top: calc(20vh - 14rem);
    }
    
    @media(min-width: breakpoint(w-mid)) {
        margin-left: calc(20vw - 10rem);
        max-width: 65vw;
    }
    
    &__h2{
        font-size: 3rem;
        font-size: calc(12.5vw + .6rem);

        line-height: 100%;

        margin-top: 2rem;
        font-family: "Raleway", serif;
        font-weight: 100;

        &--first{
            //letter-spacing: .2rem;
            letter-spacing: calc(3.3vw - .36rem);
        }
        &--last{
            //letter-spacing: .8rem;
            letter-spacing: calc(5.6vw - .3rem);
        }

        @media (min-width: breakpoint(w-sml)) {
            font-size: 5.5rem;
            
            &--first{
                //letter-spacing: .2rem;
                letter-spacing: .96rem;
            }
            &--last{
                //letter-spacing: .8rem;
                letter-spacing: 1.9rem;
            }
        }
        
        @media (min-width: breakpoint(w-mid)) and (min-height: breakpoint(h-big)) {
            font-size: 5.6rem;
            font-size: calc(12vh - 3rem);

            &--first{
                letter-spacing: calc(1.25vh + .4rem);
            }
            &--last{
                letter-spacing: 3.2vh;
            }
        }
    }

    &__intro{
        margin-top: 1rem;
        font-size: 1.6rem;
        //text-align: justify;

        font: normal 1.6rem "Open sans", sans-serif;
        line-height: 3rem;
        letter-spacing: .05rem;
        max-width: 38rem;
/*
        font-family: "Open sans", sans-serif;
        font-size: 1.6rem;
        font-weight: normal;*/

        @media(min-width: breakpoint(w-sml)) {
            margin-right: 4rem;
        }
    }

    &__general-flex{
        display: flex;
        flex-flow: nowrap column;
        justify-content: middle;
        height: 100%;
    }

    &__bottom-flex{
        display: flex;
        flex-flow: wrap row;
        justify-content: flex-start;
        align-items: center;
        //background-color: green;
    }
}