.intro{
    color: white;
    padding-top: 8rem;
    background-color: red;

    &__title{
        margin-bottom: 6rem;
    }

    &__brief{
        margin-bottom: 3rem;
        max-width: 48rem;
    }

    &__content{
        display: flex;
        flex-flow: wrap row;

    }

    &__col{
        max-width: 48rem;
        
        @media (min-width: breakpoint(w-mid)) {
            display: inline-block;
            vertical-align: top;
        }

        &--first{
            @media (min-width: breakpoint(w-mid)) {
                margin-right: 10rem;
            }
        }
        &--last{
            margin-top: 2rem;
            @media (min-width: breakpoint(w-mid)) {
                margin-top: 0;
            }
        }
    }
}