.following-image{
  display: none;
  position: relative;
  height: 100%;

  @include mq(sm) {
    display: block;
  }

  &__container{
    position: relative;
    height: 100vh;
    max-height: 108rem;
    width: 100%;
    overflow: hidden;
  }

  &__img{
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem 0;
    height: 100%;
    width: 100%;
  }
}