.generic-background{
  position: absolute;
  transform: translateX(-50%);
  left: 0;
  top: -50rem;
  z-index: -100;
  height: 150%;

  &--invert{
    transform: translate(60%, 10%);
    left: auto;
    top: auto;
    right: 0;
  }

  &--rotate{
    transform: translateX(-50%) rotate(180deg);
  }
}