.home-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;

    &__slideshow{
        width: 100%;
        height: 100%;
        display: none;
        @media(min-width: breakpoint(w-mid)) {
            display: inline-block;
        }
    }

    &__blue{
        position: absolute;
        top: 0;
        left: 18%;
        width: 40%;
        height: 100%;

        display: none;
        flex-flow: nowrap row;
        justify-content: left;
        @media(min-width: breakpoint(w-mid)) {
            display: flex;
        }
    }
    &__gradient{
        background-image: linear-gradient(to right, lighten(col(theme), 5%), col(theme) 80%);
        display: inline-block;
        width: 60%;
        height: 100%;
    }
    &__plain{
        background-color: col(theme);
        display: inline-block;
        width: 40%;
        height: 50%;
    }

    &__svg{
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 46%;
        z-index: 99;
        width: calc(20% + 25rem);
    }
}