.logo{
  display: flex;
  flex-flow: nowrap row;
  align-items: center;

  &__svg{
    fill: white;
    @include logo-height(1);
    @include logo-width(1);
  }

  &--dark &__path{
    fill: col(theme);
  }
}